body {
  background-color: rgb(120, 120, 120);
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.header {
  align-items: center;
  background-color: rgb(10, 10, 10);
  border-bottom: 3px groove white;
  color: rgb(214, 182, 38);
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  height: 140px;
  justify-content: center;
  letter-spacing: 0.08em;
  width: 100%;
}

.moviesDiv {
  background-color: rgb(125, 125, 125);
  display: flex;
  flex-flow: row wrap;
}
.movieCard {
  border: 3px solid black;
  background-color: rgb(250, 250, 250);
  border-radius: 50px;
  height: 600px;
  margin: 20px;
  padding: 30px;
  text-align: center;
  width: 350px;
}

.movieParagraph {
  color: rgb(125, 125, 125);
  font-size: 15px;
  font-style: italic;
}

.movieImage {
  border: 2px solid black;
  border-radius: 30px;
  height: 250px;
  width: 350px;
}
